@{
  Layout = "_Layout";
}

@model Restaurants.Models.Review

<h2>Restaurant Reviews</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
<h3>@Html.DisplayNameFor(model => model.Stars): @Html.DisplayFor(model => model.Stars)<h3></h3>
<p>@Html.ActionLink("Back to list", "Index")</p>